<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->

	<bean class="in.min.beans.Student" id="stdId1" >
	     <property name="name" value="Minhaj" />
         <property name="rollNo" value="101" />
         <property name="email" value="minhaj@gmail.com" />


	</bean>
	
	<bean class="in.min.beans.Student" id="stdId2" >
	     <property name="name" value="Amaan" />
         <property name="rollNo" value="102" />
         <property name="email" value="amaan@gmail.com" />


	</bean>

</beans>